*{
    margin: 0px;
    padding: 0px;
}
body{
    margin:4vh;
    background-color: #56baed;
    text-align: center;
}
.heading
{
    color: aliceblue;
    text-transform: uppercase;
}
.result
{
    text-transform: uppercase;
    padding: 0.7rem;
}
.btn
{
    height:18vmin;
    width: 18vmin;
    background-color: #fff;
    color: black;
}
.container
{
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.game
{  
    height: 50vmin;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.3vh;
    
}
.btn
{
   border-radius: 1vh;
   border: none;
   box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
   font-size: 10vh;
}
.reset
{
    margin-top: .9rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
}
.reset:hover
{
    cursor:pointer;
}
